.homepage {
  display: flex;
  height: 100vh;

  .textContainer {
    flex: 3;
    .wrapper {
      padding-right: 100px;
    }
  }
  .imageContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;
    img {
      position: absolute;
      width: 115%;
      right: 0;
    }
  }
}
