@import "../../responsive.scss";
nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-self: center;
  background-color: #fff;
  a {
    transition: all 0.2s ease;
    &:hover {
      scale: 1.05;
    }
    @include sm {
      display: none;
    }
  }

  .left {
    // width: 60%;
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bolder;
      font-size: 20px;
      display: flex;
      gap: 10px;
    }
    img {
      height: 100%;
      width: 28px;
    }
    span {
      @include md {
        display: none;
      }
      @include sm {
        display: initial;
      }
    }
  }
  .right {
    // width: 40%;
    background-color: #fcf5f3;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
    flex: 2;

    .user {
      display: flex;
      align-items: center;
      margin-right: 20px;
      font-weight: bold;

      span {
        @include sm {
          display: none;
        }
      }

      img {
        width: 70px;
        height: 70px;
      }
      .profile {
        padding: 12px 24px;
        margin-left: 40px;
        border: none;
        cursor: pointer;
        background-color: #fece51;
        position: relative;

        .notification {
          position: absolute;
          font-weight: 400;
          border-radius: 50%;
          color: white;
          width: 26px;
          height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          padding: 5px;
          top: -8px;
          right: -8px;
        }
      }
    }

    .register {
      background-color: #facf59;
      display: flex;
      align-items: center;
      height: max-content;
      padding: 10px 20px;
    }
    @include md {
      background-color: transparent;
    }
    .menuIcon {
      width: 28px;
      display: none;
      z-index: 999;
      img {
        width: 100%;
        cursor: pointer;
      }
      @include sm {
        display: initial;
        background-color: transparent;
      }
    }

    .menu {
      background-color: black;
      color: white;
      position: absolute;
      top: 0;
      right: -50%;
      height: 100vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      gap: 40px;
      transition: all 0.4s ease;

      &.active {
        right: 0;
      }
      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
